In [1]:
import argparse

In [2]:
import re
import pandas as pd
import os

In [3]:
#Importamos el csv con el dataset
#https://www.kaggle.com/sp1thas/book-depository-dataset?select=dataset.csv
data = pd.read_csv("Input/dataset-books.csv")
data = pd.DataFrame(data)
data.head(30)

,authors,bestsellers-rank,categories,description,dimension-x,dimension-y,dimension-z,edition,edition-statement,for-ages,...,isbn10,isbn13,lang,publication-date,publication-place,rating-avg,rating-count,title,url,weight
0,[1],NaN,"[334, 335, 341, 2622, 352, 2626, 353, 2627]",Renowned urban artist Shepard Fairey's new loo...,111.0,181.0,20.00,NaN,Repr.,NaN,...,141036141,9.780141e+12,en,2008-10-01,1.0,4.18,2918204.0,1984,/1984-George-Orwell/9780141036144,184.00
1,[2],67532,"[376, 378, 868, 873, 900, 2771, 3097, 2590]","These 100 skills, adapted for civilians from a...",140.0,210.0,18.00,NaN,NaN,NaN,...,1501143905,9.781501e+12,en,2016-11-16,2.0,4.01,425.0,100 Deadly Skills: Survival Edition : The SEAL...,/100-Deadly-Skills-Survival-Edition-Clint-Emer...,367.00
2,"[3, 4]",150327,"[2978, 2980]",The world is full of pointless things. From ra...,193.0,197.0,21.00,NaN,NaN,NaN,...,1444762052,9.781445e+12,en,2013-05-23,1.0,3.59,539.0,The 100 Most Pointless Things in the World : A...,/100-Most-Pointless-Things-World-Alexander-Arm...,220.00
3,[5],85902,"[2948, 2953]",Delight children and adults alike by creating ...,148.0,210.0,12.70,NaN,NaN,NaN,...,1784943460,9.781785e+12,en,2017-11-14,2.0,3.66,9.0,50 Knitted Dolls,/50-Knitted-Dolls-Sarah-Keen/9781784943462,771.11
4,[6],54186,"[2942, 2948, 2953]",Make your own collection of irresistibly cute ...,155.0,215.0,4.00,NaN,NaN,NaN,...,1782216952,9.781782e+12,en,2019-06-04,3.0,4.66,6.0,20 to Knit: Pocket Pets,/20-Knit-Pocket-Pets-Sachiyo-Ishii/9781782216957,130.00
5,[7],132137,"[125, 287, 290]",Thirteen plays by the Oscar-winning author of ...,134.0,196.0,19.00,NaN,NaN,NaN,...,1557830991,9.781558e+12,en,2000-02-01,2.0,NaN,NaN,13 by Shanley : Thirteen Plays,/13-by-Shanley-John-Patrick-Shanley/9781557830999,376.00
6,"[8, 9]",187207,"[368, 2637, 2649, 2661, 888]",The 9/11 Report for Every American,154.0,229.0,10.00,NaN,NaN,NaN,...,809057395,9.780809e+12,en,2006-08-22,2.0,3.69,1628.0,The 9/11 Report : A Graphic Adaptation,/9-11-Report-Sid-Jacobson/9780809057399,318.00
7,[10],"109,521","[2644, 2658, 2679, 2683, 907]",Adam Zamoyski's bestselling account of Napoleo...,129.0,198.0,42.00,NaN,UK ed.,NaN,...,7123744,9.780007e+12,en,2012-01-18,1.0,4.29,1708.0,1812 : Napoleon'S Fatal March on Moscow,/1812-Adam-Zamoyski/9780007123742,500.00
8,[11],111449,"[2644, 2689, 894]",The Nazi siege of Leningrad from 1941 to 1944 ...,153.0,226.0,39.00,NaN,2nd ed.,NaN,...,306812983,9.780307e+12,en,2003-09-18,4.0,4.18,3264.0,The 900 Days : The Siege Of Leningrad,/900-Days-Harrison-E-Salisbury/9780306812989,732.00
9,[12],602979,"[2942, 2953, 2960, 2977, 2917, 3013, 3097]",Detailed instructions for creating standard tw...,136.0,214.0,8.38,New edition,New edition,NaN,...,048622550X,9.780486e+12,en,2000-01-02,2.0,3.36,11.0,25 Kites That Fly,/25-Kites-That-Fly-Leslie-L-Hunt/9780486225500,163.29
10,"[13, 14]",566712,"[368, 2637, 2644, 2689, 2979]",As a good drawing is often better than a thous...,234.0,318.0,10.92,NaN,NaN,NaN,...,2912925533,9.782913e+12,en,2008-02-01,5.0,3.66,18.0,6th June - Overlord,/6th-June-Overlord-Mister-Kit/9782912925534,730.28
11,[15],289512,"[127, 133, 3248, 287]",Looking for a great piece to work on in your s...,102.0,171.0,32.51,NaN,Reissue,NaN,...,380798042,9.780381e+12,en,1999-04-01,6.0,3.50,32.0,99 Film Scenes for Actors,/99-Film-Scenes-for-Actors-Angela-Nicholas/978...,227.00
12,[16],156823,"[220, 2646, 2649, 2679, 2692, 894]",This is the evocative history of the 5th Marin...,106.0,174.0,20.57,NaN,Reissue,NaN,...,345459148,9.780345e+12,en,2003-02-01,2.0,3.70,336.0,13 Cent Killers : The 5th Marine Snipers in Vi...,/13-Cent-Killers-John-J-Culbertson/9780345459145,145.15
13,[17],66313,"[1703, 2818, 2965, 2909, 2911]",With a flood of research showing the dangers o...,204.0,228.0,17.00,NaN,NaN,NaN,...,162414201X,9.781624e+12,en,2016-03-31,7.0,4.32,161.0,"101 Easy Homemade Products for Your Skin, Heal...",/101-Easy-Homemade-Products-for-Your-Skin-Heal...,820.00
14,"[18, 19]",NaN,"[1703, 2818]",This special re-print edition of H. Cecil Shep...,216.0,279.0,4.00,NaN,NaN,NaN,...,1542963303,9.781543e+12,en,2017-02-05,NaN,NaN,NaN,"$4,223.00 in One Year on a Town Lot from Poult...",/4-223-00-One-Year-on-Town-Lot-from-Poultry-H-...,209.00
15,"[20, 21]",NaN,"[2649, 2967, 3099, 3100, 3104, 3107]",From Massachusetts to Florida to Washington to...,137.0,163.0,27.00,Unabridged,Unabridged,NaN,...,1515910628,9.781516e+12,en,2016-08-16,8.0,3.57,249.0,50 Great American Places : Essential Historic ...,/50-Great-American-Places-Norman-Dietz/9781515...,79.00
16,[22],"919,287","[386, 3388, 3100, 3116, 3117]","New edition of annually revised, politically c...",140.0,250.0,11.00,New edition,New edition,NaN,...,7581181,9.780008e+12,en,2014-12-01,1.0,3.50,2.0,2015 Collins Map of France,/2015-Collins-Map-France-Collins-Maps/97800075...,110.00
17,[23],86768,"[290, 335, 356]","The Marquis de Sade, vilified by respectable s...",136.0,210.0,35.56,NaN,Reissue,NaN,...,802130127,9.780802e+12,en,1994-01-10,2.0,3.46,2629.0,The 120 Days of Sodom and Other Writings,/120-Days-Sodom-Other-Writings-Marquis-de-Sade...,620.00
18,"[24, 25, 26]",1800534,"[377, 2980]",NaN,111.0,NaN,178.00,NaN,Main,NaN,...,571339115,9.780571e+12,NaN,2019-05-02,1.0,4.33,169.0,"1,423 QI Facts to Bowl You Over",/1-423-QI-Facts-Bowl-You-Over-John-Lloyd/97805...,NaN
19,[27],905037,"[378, 1417, 1458, 1463, 1474]",'300 Questions and Answers in Exotics & Wildli...,139.7,215.9,4.83,NaN,NaN,NaN,...,750646969,9.780751e+12,en,2000-12-13,1.0,NaN,NaN,300 Questions and Answers in Exotics and Wildl...,/300-Questions-Answers-Exotics-Wildlife-for-Ve...,117.93
20,[28],436018,"[241, 245, 274, 834, 3379]","A fool-proof, intensive plan to power up your ...",208.0,274.0,23.00,NaN,NaN,NaN,...,71443258,9.780071e+12,en,2005-08-14,6.0,3.53,13.0,1500 Words in 15 Minutes a Day,/1500-Words-15-Minutes-Day-Ceil-Cleveland/9780...,998.00
21,[29],NaN,"[377, 3118, 2593, 2595]",This CD-ROM provides maps and information on a...,190.0,241.0,47.00,NaN,NaN,12-17,...,435040081,9.780435e+12,NaN,1995-09-29,9.0,NaN,NaN,The 3D Atlas CD-ROM (PC version only),/3D-Atlas-CD-ROM-PC-version-only-Miscellaneous...,NaN
22,[30],NaN,"[233, 2740, 2818]","""I want to get married, go out west, build a l...",140.0,216.0,19.00,NaN,NaN,NaN,...,1460265041,9.781460e+12,en,2015-10-21,NaN,3.72,11.0,10 Days in December : Where Dreams Meet Reality,/10-Days-December-Eleanor-Deckert/9781460265048,417.00
23,[31],1138234,"[386, 3388, 3013, 3100, 3117]",PHILIP'S - THE FASTEST GROWING BRAND OF UK ROA...,226.0,296.0,16.00,NaN,NaN,NaN,...,1849075034,9.781849e+12,en,2019-06-06,1.0,NaN,NaN,2020 Philip's Essential Road Atlas Britain and...,/2020-Philips-Essential-Road-Atlas-Britain-Ire...,707.00
24,[31],1286558,"[386, 3388, 3013, 3100, 3117]",PHILIP'S - THE FASTEST GROWING BRAND OF UK ROA...,290.0,392.0,10.00,NaN,NaN,NaN,...,1849075042,9.781849e+12,en,2019-06-06,1.0,NaN,NaN,2020 Philip's Big Road Atlas Britain and Irela...,/2020-Philips-Big-Road-Atlas-Britain-Ireland-P...,960.00
25,[32],20763,"[290, 293, 295, 305]",An essential guide for writers and readers ali...,130.0,203.0,28.00,NaN,Reprint,NaN,...,1400033187,9.781400e+12,en,2007-02-03,2.0,3.80,1028.0,13 Ways of Looking at the Novel,/13-Ways-Looking-at-Novel-Jane-Smiley/97814000...,454.00
26,[33],75233,"[1477, 1525, 1532, 1541, 2565]",David Acheson's extraordinary little book make...,122.0,173.0,10.00,NaN,NaN,NaN,...,199590028,9.780200e+12,en,2010-12-09,10.0,3.97,311.0,1089 and All That : A Journey into Mathematics,/1089-All-That-David-Acheson/9780199590025,200.00
27,"[34, 19]",NaN,"[1703, 2818, 2985, 2997]",This special re-print edition of Edgar L. Warr...,216.0,279.0,4.00,NaN,NaN,NaN,...,1542964911,9.781543e+12,en,2017-02-05,NaN,4.50,2.0,200 Eggs a Year Per Hen : How to Get Them: Egg...,/200-Eggs-Year-Per-Hen-Edgar-Warren/9781542964913,195.00
28,[31],1561294,"[386, 3388, 3013, 3100, 3117]",PHILIP'S: THE BEST-SELLING EUROPE ATLAS RANGE ...,294.0,392.0,12.00,NaN,NaN,NaN,...,184907528X,9.781849e+12,en,2020-04-02,1.0,NaN,NaN,2021 Philip's Big Road Atlas Europe : (A3 Spir...,/2021-Philips-Big-Road-Atlas-Europe-Philips-Ma...,1000.00
29,[35],NaN,"[977, 1703, 2818, 2997, 2452, 3385]",This work has been selected by scholars as bei...,156.0,234.0,10.00,NaN,NaN,NaN,...,1376503301,9.781377e+12,en,2018-02-02,NaN,NaN,NaN,California Poultry Practice : Being Plain Hint...,/California-Poultry-Practice-Susan-Swaysgood/9...,254.00

In [4]:
data.shape

(56009, 25)

In [5]:
data.dtypes

authors                object
bestsellers-rank       object
categories             object
description            object
dimension-x           float64
dimension-y           float64
dimension-z           float64
edition                object
edition-statement      object
for-ages               object
format                 object
id                      int64
illustrations-note     object
imprint                object
index-date             object
isbn10                 object
isbn13                float64
lang                   object
publication-date       object
publication-place     float64
rating-avg            float64
rating-count          float64
title                  object
url                    object
weight                float64
dtype: object

In [6]:
null_cols = data.isnull().sum()
null_cols

authors                   0
bestsellers-rank      37303
categories                0
description            4022
dimension-x            2474
dimension-y            5356
dimension-z            2474
edition               49543
edition-statement     41876
for-ages              52972
format                  206
id                        0
illustrations-note    39101
imprint               46685
index-date                0
isbn10                    0
isbn13                  537
lang                   2851
publication-date        139
publication-place     23939
rating-avg            35990
rating-count          35990
title                     0
url                       0
weight                 5811
dtype: int64

In [7]:
data.columns

Index(['authors', 'bestsellers-rank', 'categories', 'description',
       'dimension-x', 'dimension-y', 'dimension-z', 'edition',
       'edition-statement', 'for-ages', 'format', 'id', 'illustrations-note',
       'imprint', 'index-date', 'isbn10', 'isbn13', 'lang', 'publication-date',
       'publication-place', 'rating-avg', 'rating-count', 'title', 'url',
       'weight'],
      dtype='object')

In [8]:
drop_cols = ['bestsellers-rank','dimension-x','edition','edition-statement', 'for-ages', 'format', 'illustrations-note',
       'imprint', 'index-date', 'dimension-y','dimension-z','isbn10',"isbn13",'weight']
data = data.drop(drop_cols, axis =1)

In [9]:
data.columns

Index(['authors', 'categories', 'description', 'id', 'lang',
       'publication-date', 'publication-place', 'rating-avg', 'rating-count',
       'title', 'url'],
      dtype='object')

In [10]:
data.head()

,authors,categories,description,id,lang,publication-date,publication-place,rating-avg,rating-count,title,url
0,[1],"[334, 335, 341, 2622, 352, 2626, 353, 2627]",Renowned urban artist Shepard Fairey's new loo...,9780141036144,en,2008-10-01,1.0,4.18,2918204.0,1984,/1984-George-Orwell/9780141036144
1,[2],"[376, 378, 868, 873, 900, 2771, 3097, 2590]","These 100 skills, adapted for civilians from a...",9781501143908,en,2016-11-16,2.0,4.01,425.0,100 Deadly Skills: Survival Edition : The SEAL...,/100-Deadly-Skills-Survival-Edition-Clint-Emer...
2,"[3, 4]","[2978, 2980]",The world is full of pointless things. From ra...,9781444762051,en,2013-05-23,1.0,3.59,539.0,The 100 Most Pointless Things in the World : A...,/100-Most-Pointless-Things-World-Alexander-Arm...
3,[5],"[2948, 2953]",Delight children and adults alike by creating ...,9781784943462,en,2017-11-14,2.0,3.66,9.0,50 Knitted Dolls,/50-Knitted-Dolls-Sarah-Keen/9781784943462
4,[6],"[2942, 2948, 2953]",Make your own collection of irresistibly cute ...,9781782216957,en,2019-06-04,3.0,4.66,6.0,20 to Knit: Pocket Pets,/20-Knit-Pocket-Pets-Sachiyo-Ishii/9781782216957

In [11]:
data.shape

(56009, 11)

In [12]:
data["publication-date"].value_counts

<bound method IndexOpsMixin.value_counts of 0        2008-10-01
1        2016-11-16
2        2013-05-23
3        2017-11-14
4        2019-06-04
            ...
56004    2019-11-25
56005    2019-11-19
56006    2016-12-16
56007    1988-01-07
56008    2007-04-11
Name: publication-date, Length: 56009, dtype: object>

In [13]:
null_cols = data.isnull().sum()
null_cols

authors                  0
categories               0
description           4022
id                       0
lang                  2851
publication-date       139
publication-place    23939
rating-avg           35990
rating-count         35990
title                    0
url                      0
dtype: int64

In [17]:
def year_format(column): 
    formatted_date = data["publication-date"].dt.strftime("%m/%d/%y")
    return formatted_date

In [18]:
def date_format(column):
    data[column]= pd.to_datetime(data[column])
    return data[column]

In [19]:
#data['publication-date']= pd.to_datetime(data['publication-date']) 
#data["publication-date"] = data.apply(date_format)

In [20]:
data["publication-date"] = pd.to_datetime(data["publication-date"])
data.dtypes

authors                      object
categories                   object
description                  object
id                            int64
lang                         object
publication-date     datetime64[ns]
publication-place           float64
rating-avg                  float64
rating-count                float64
title                        object
url                          object
dtype: object

In [21]:
data['year'] = pd.DatetimeIndex(data["publication-date"]).year

In [22]:
data.head()

,authors,categories,description,id,lang,publication-date,publication-place,rating-avg,rating-count,title,url,year
0,[1],"[334, 335, 341, 2622, 352, 2626, 353, 2627]",Renowned urban artist Shepard Fairey's new loo...,9780141036144,en,2008-10-01,1.0,4.18,2918204.0,1984,/1984-George-Orwell/9780141036144,2008.0
1,[2],"[376, 378, 868, 873, 900, 2771, 3097, 2590]","These 100 skills, adapted for civilians from a...",9781501143908,en,2016-11-16,2.0,4.01,425.0,100 Deadly Skills: Survival Edition : The SEAL...,/100-Deadly-Skills-Survival-Edition-Clint-Emer...,2016.0
2,"[3, 4]","[2978, 2980]",The world is full of pointless things. From ra...,9781444762051,en,2013-05-23,1.0,3.59,539.0,The 100 Most Pointless Things in the World : A...,/100-Most-Pointless-Things-World-Alexander-Arm...,2013.0
3,[5],"[2948, 2953]",Delight children and adults alike by creating ...,9781784943462,en,2017-11-14,2.0,3.66,9.0,50 Knitted Dolls,/50-Knitted-Dolls-Sarah-Keen/9781784943462,2017.0
4,[6],"[2942, 2948, 2953]",Make your own collection of irresistibly cute ...,9781782216957,en,2019-06-04,3.0,4.66,6.0,20 to Knit: Pocket Pets,/20-Knit-Pocket-Pets-Sachiyo-Ishii/9781782216957,2019.0

In [27]:
data.columns

Index(['authors', 'categories', 'description', 'id', 'lang',
       'publication-date', 'publication-place', 'rating-avg', 'rating-count',
       'title', 'url', 'year'],
      dtype='object')

In [28]:
column_order = ['id','authors','title','categories', 'description', 'lang','publication-date', 'year','publication-place', "rating-avg", 'rating-count', 'url']
data = data[column_order]

In [29]:
data.shape

(56009, 12)

In [30]:
data = data.dropna(how='all')

In [31]:
data.shape

(56009, 12)

In [32]:
null_cols = data.isnull().sum()
null_cols

id                       0
authors                  0
title                    0
categories               0
description           4022
lang                  2851
publication-date       139
year                   139
publication-place    23939
rating-avg           35990
rating-count         35990
url                      0
dtype: int64

In [33]:
#Guardo el nuevo dataset con los datos limpios para su próximo analisis.
data.to_csv('Output/books_output.csv')