In [1]:
import re
import pandas as pd
import os
import datetime as dt

In [2]:
#Importamos el csv con el dataset
#https://www.kaggle.com/sp1thas/book-depository-dataset?select=dataset.csv
data = pd.read_csv("Input/dataset-books.csv")
data = pd.DataFrame(data)
data.head(1)

,authors,bestsellers-rank,categories,description,dimension-x,dimension-y,dimension-z,edition,edition-statement,for-ages,...,isbn10,isbn13,lang,publication-date,publication-place,rating-avg,rating-count,title,url,weight
0,[1],NaN,"[334, 335, 341, 2622, 352, 2626, 353, 2627]",Renowned urban artist Shepard Fairey's new loo...,111.0,181.0,20.0,NaN,Repr.,NaN,...,141036141,9.780141e+12,en,2008-10-01,1.0,4.18,2918204.0,1984,/1984-George-Orwell/9780141036144,184.0

In [3]:
drop_cols = ['id','bestsellers-rank','dimension-x','edition','edition-statement', 'for-ages', 'format', 'illustrations-note',
       'imprint', 'index-date', 'dimension-y',"description","isbn13",'publication-place','dimension-z','weight','rating-count','url']
data = data.drop(drop_cols, axis =1)

In [4]:
null_cols = data.isnull().sum()
null_cols

authors                 0
categories              0
isbn10                  0
lang                 2851
publication-date      139
rating-avg          35990
title                   0
dtype: int64

In [5]:

data["publication-date"] = pd.to_datetime(data["publication-date"])
data["year"] = pd.DatetimeIndex(data["publication-date"]).year

In [6]:
column_order = ['isbn10','authors','title','categories', 'lang','publication-date', 'year',"rating-avg"]
data = data[column_order]
data.dtypes

isbn10                      object
authors                     object
title                       object
categories                  object
lang                        object
publication-date    datetime64[ns]
year                       float64
rating-avg                 float64
dtype: object

In [7]:
data = data.dropna(how='all')
data.head(5)

,isbn10,authors,title,categories,lang,publication-date,year,rating-avg
0,141036141,[1],1984,"[334, 335, 341, 2622, 352, 2626, 353, 2627]",en,2008-10-01,2008.0,4.18
1,1501143905,[2],100 Deadly Skills: Survival Edition : The SEAL...,"[376, 378, 868, 873, 900, 2771, 3097, 2590]",en,2016-11-16,2016.0,4.01
2,1444762052,"[3, 4]",The 100 Most Pointless Things in the World : A...,"[2978, 2980]",en,2013-05-23,2013.0,3.59
3,1784943460,[5],50 Knitted Dolls,"[2948, 2953]",en,2017-11-14,2017.0,3.66
4,1782216952,[6],20 to Knit: Pocket Pets,"[2942, 2948, 2953]",en,2019-06-04,2019.0,4.66

In [8]:
null_cols = data.isnull().sum()
null_cols

isbn10                  0
authors                 0
title                   0
categories              0
lang                 2851
publication-date      139
year                  139
rating-avg          35990
dtype: int64

In [9]:
data3 = pd.read_csv("Input/categories.csv")
data3 = pd.DataFrame(data3)
data3.head()
data3 = data3.to_dict()

In [10]:
#Guardo el nuevo dataset con los datos limpios para su próximo analisis.
data.to_csv('Output/books_output.csv',index=False)